@charset "UTF-8";
@font-face{ 
	font-family: 'crystalregular';
        src: url('../fons/crystal_regular-webfont.eot');
        src: url('../fons/crystal_regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fons/Crystal-Regular.woff') format('woff'),
	     url('../fons/Crystal_Regular.ttf') format('truetype'),
	     url('../fons/crystal_regular-webfont.svg#crystalregular') format('svg');
}
body, html {
  margin:0px;
  padding:0px;
  height: 100%;
  font-family:Arial,Verdana;
  font-size:13px;
}
* html #maket {
  height: 100%;
}
input[type=text],input[type=number]{
        border-color: #e0e0e0;
	background-color:#e0e0e0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	border-width: 1px;
	border-style: solid;
	color: #474e57;
	font-size: 13px;
	font-weight: 400;
	padding: 4px;
	width: auto;
	margin:2px;
}
select {
        border-color: #e0e0e0;
	background-color:#e0e0e0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	border-width: 1px;
	border-style: solid;
	color: #474e57;
	font-size: 13px;
	font-weight: 400;
	padding: 3px;
	width: auto;
}
input[type=submit],input[type=button],button{
   background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 4px 6px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
input[type=submit]:hover,button:hover,input[type=button]:hover {
    opacity:.85;
    cursor: pointer;
}

input[type=submit]:active,input[type=button]:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
input[type=submit]:disabled {
    background-color: #303030;
    background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#808080));
    background: -webkit-linear-gradient(top, #303030, #808080);
    background: -moz-linear-gradient(top, #303030, #808080);
    background: -ms-linear-gradient(top, #303030, #808080);
    background: -o-linear-gradient(top, #303030, #808080);
    background: linear-gradient(top, #303030, #808080);
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    border: 1px solid #303030;
    border-bottom: 1px solid #404040;
    box-shadow: inset 0 1px 0 0 #A9A9A9;
    -webkit-box-shadow: 0 1px 0 0 #A9A9A9 inset ;
    -moz-box-shadow: 0 1px 0 0 #A9A9A9 inset;
    -ms-box-shadow: 0 1px 0 0 #A9A9A9 inset;
    -o-box-shadow: 0 1px 0 0 #A9A9A9 inset;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    cursor: default;
    opacity:1;
}
th {background-color: #EAF2D3;height:3em;}
tr:nth-child(odd) { background-color: #EAF2D3; }
h2 {margin-left:160px;}
#maket {
  margin:0 auto;
  min-height: 100%;
  max-width: 1200px;
  min-width: 800px;
  margin-left: 30px;
  margin-right: auto;
  position:relative;
}
#left {
  float:left;
  margin-left:0px;
  margin-top:0px;
  margin-bottom:0px;
  height:100%;
  width:110px;
}
#cont{
  margin-top:0px;
  height:100%;
  min-height:450px;
  margin-left:110px;
  padding-top:30px;
}

div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
div.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width:60%;
    min-width:550px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#coord{
  display:table;
  table-layout: auto;
  margin-top:10px;
  width:80%;
  vertical-align:middle;
  margin-left:5px;
  right:0px;
  bottom:0px;
}
#coord > div{
  display:table-row;
  height:40px;
}
.cel {
  display:table-cell;
  border:1px solid #f5f5f5;
}
.cel a {
margin-top:10px;
margin-bottom:10px;
color:black;
}

#coord > div > div{
  display:table-cell;
  font-family: "crystalregular","Arial";
  font-size:1.2em;
  border:1px solid #202050;
  text-align:center;
  vertical-align:middle;
}
#tabss {
  height:85%;
  min-height: 350px;
  margin: 15px 0px 0px 0px;
  position:relative;
}
.typeship {
  width:100%;
}
.typeship table {
 width:auto;
 margin-left:40px;
 vertical-align:middle;
 text-align:center;
}
.typeship img { 
  height:24px;
  width:auto;
  margin:0px;
  border:0px;
}
.tab {
  float: left;
  height:24px;
}
.tab label {
  display:block;
  background: #eee;
  padding: 6px;
  height:17px;
  border: 2px solid gray;
  margin-left: 2px;
  position: relative;
  left: 0px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  text-align:left;
  right: 0;
  bottom: 0;
  padding: 10px;
  border: 2px solid gray;
  overflow-y:auto;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
