@charset "UTF-8";
@font-face{ 
	font-family: 'crystalregular';
        src: url('../fons/crystal_regular-webfont.eot');
        src: url('../fons/crystal_regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fons/Crystal-Regular.woff') format('woff'),
	     url('../fons/Crystal_Regular.ttf') format('truetype'),
	     url('../fons/crystal_regular-webfont.svg#crystalregular') format('svg');
}
@font-face {
    font-family: 'Neuropol';
    src: url('../fons/NeuropolMedium.eot');
    src: url('../fons/NeuropolMedium.eot?#iefix') format('embedded-opentype'),
        url('../fons/NeuropolMedium.woff') format('woff'),
	url('../fons/NERUM.ttf') format('truetype'),
        url('../fons/NeuropolMedium.svg#NeuropolMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AGLetter';
    src: url('../fons/AGLettericaCondensed-Roman.eot');
    src: url('../fons/AGLettericaCondensed-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fons/AGLettericaCondensed-Roman.woff') format('woff'),
        url('../fons/AGLettericaCondensed-Roman.svg#AGLettericaCondensed-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, html {
  margin:0px;
  padding:0px;
  height: 100%;
}
* html #maket {
  height: 100%;
  font-size:100%;
}
@media screen and (mix-width: 480px){
#maket {width:100%;font-size:80%;}
}
@media screen and (max-width: 767px) and (min-width:481px){
#maket {width:100%;font-size:90%;}
}
@media screen and (max-width: 991px) and (min-width:768px){
#maket {max-width: 900px; min-width: 700px;font-size:100%;}
}
@media screen and (max-width: 1199px) and (min-width:992px){
#maket {max-width: 1100px; min-width: 850px;font-size:110%;}
}
@media screen and (min-width: 1200px) {
#maket {max-width: 1100px; min-width: 850px;font-size:120%;}
}
@media screen and (min-width: 1400px) {
#maket { max-width: 1100px; min-width: 850px;font-size:130%;}
}
@media screen and (min-width: 1600px) {
#maket { max-width: 1100px; min-width: 850px;font-size:140%;}
}
#maket {
  margin:0 auto;
  height:100vh;
  color:white;
}
#head{
  width:100%;
  height:auto;
  text-align:center;
  font-family:'Neuropol', Verdana;
  font-size:150%;
  font-stretch:condensed;
  padding-top:10px;
  padding-bottom:10px;
}
#news{
  float:left;
  width:30%;
  height: 50%;
  position:relative;
}
#cnews{
  position:absolute;
  left:0px;
  right:0px;
  top:37px;
  bottom:5px;
  overflow-y:auto; 
  padding-left:15px;
  padding-right:15px; 
  direction:ltr;
  font-family: 'AGLetter', Arial;
  z-index:1;
}
#cnews_cyl{
    position:absolute;
    left:0px;
    right:0px;
    top:40px;
    bottom:0px;
    overflow-y:auto;
    direction: rtl;
    padding:5px 15px;
    margin: 20px 10px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
/*    border-radius: 10px; /* Радиус скругления */
    background: #eeece0; /* Цвет фона */
    font-family: 'AGLetter', Arial;
    z-index:1;
    background-color: #ABCFCD;
    opacity: 0.9;
    background-clip: padding-box;
    color: #000000;
}
.head {
font-size:90%;
font-style:italic;
margin-left:10px;
display:block;
font-family: 'crystalregular';

}
.autor {
font-style:italic;
text-align:right;
display:block;
margin-right:8px;
color:#a0f0f0;
}
#cnews_cyl p,
#cnews p {
  font-size:102%;
  text-align:left;
  margin: 15px 5px 10px 10px;
}
#logo{
  float:left;
  width:10%;
  height: 50%;
  position:relative;
  text-align:center;
  font-family: 'AGLetter', Verdana;
  font-weight:bold;
  color:#fae628;
  text-shadow:black 0px 0px 4px;
  font-size:170%;
/*  font-size:3vw; */
}
#logo img{
 margin-top:20px;
 max-width:100%;
 width:auto;
 max-height:70%;
}
#resurs{
  float:right;
  width:60%;
  height: 30%;
  position:relative;
}
#cresurs {
  position:absolute;
  left:0px;
  right:0px;
  top:33px;
  bottom:0px;
  margin:auto 0;
  overflow-y:auto;
  text-align:center;
  padding-left:15px;
  padding-right:15px;
  font-family: 'AGLetter', Arial;
  font-size:95%;
}
#cresurs img {
 width:auto;
 height:5%;
}
#cresurs th {
font-size:90%;
color:yellow;
font-style:bold;
}
#stat{
  float:right;
  width:60%;
  height: 20%;
  position:relative;
}
#statl{
  float:left;
  width:50%;
  height:100%;
  position:relative;
}
#statr{
  float:right;
  width:50%;
  height:100%;
  position:relative;
}
.informer {
  position:absolute;
  left:0px;
  right:0px;
  top:34px;
  overflow-y:auto;
  text-align:center;
  padding-left:5px;
  padding-right:5px;
  font-family: 'AGLetter', Arial;
  font-size:100%;
  bottom:0px;
}

#qvorum{
  float:left;                                          
  width:100%;
height:-moz-calc(50% - 45px);
height:-webkit-calc(50% - 45px);
height:calc(50% - 45px);
  position:relative;
  clear:both;
}
#clock {
color: #fff0f0;
text-shadow:black 0px 0px 4px;
font-size: 100%;
padding:6px;
font-family: 'crystalregular',Arial;
vertical-align:middle;
}
#cqvorum{
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:2px;
  overflow-y:auto;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  font-family: 'AGLetter', Arial;
  font-size:88%;
text-transform:uppercase;
  color:#ff9050;
  word-break: break-word;
  z-index:1;
}
table.qvorum {
width:100%;
}

table.qvorum>tbody>tr>td {
width:16%;
}
table.qvorum>tbody>tr>td:first-child {
width:36%;
text-align:left;
}
#qvorum>div.bx-wrapper {
top:75px;
}
/*
#cqvorum >div{
  display:table;
  width:100%;
}
#cqvorum >div >div{
  display:table-row;
}
#cqvorum >div >div >div{
display:table-cell;
width:16.7%;
vertical-align:middle;
padding-top:5px;
padding-bottom:5px;
}
*/
.titl2 {
width:100%;
text-align:center;
margin-top:4px;
position:relative;
z-index:2;
}
.titl2 img {
width:100%;
height:100%;
margin: 0 2px;
}
.titl2 td {
width:16%;
background-size:100% 100%;
padding:7px 7px 7px 7px;
background-clip:padding-box;
}
.red {
color:#ff0000;
}
.green {
color:#00ff00;
}
.titl {
width:100%;
text-align:center;
}
.titl img {
width:99%;
height:auto;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 200%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*hhh */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 3px;
	height:3px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
